<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
    <label>Enter your phrase:</label>
    <input type="text" name="user_phrase">
    <input type="submit">
    </form>
  </body>
</html>
<%# 
<form method="POST" action="/food">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Favorite Food: <input type="text" name="favorite_food"></p>
  <input type="submit">
</form> %>